/* General body style */
body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Navigation bar style */
.navbar {
    background-color: #343a40;
}

.dropdown-menu {
    background-color: #343a40;
    color: #fff;
}
.dropdown-item {
    color: #fff;
}
.navbar-brand {
    font-size: 1.5rem;
    color: #fff !important;
}

.navbar-nav .nav-link {
    color: #ddd !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

/* Metrics section */
.container {
    margin-top: 20px;
    color: #e0e0e0;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

/* Card styles */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
}

.metric-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745; /* Green color for positive-looking metrics */
}

/* Chart */
#price-chart {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Headings and labels */
h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1cb429;
}

/* Input field and button */
.input-group {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.input-group .form-control {
    border-radius: 8px 0 0 8px;
}

.input-group .btn {
    border-radius: 0 8px 8px 0;
    background-color: #1cb429;
    color: white;
}

.input-group .btn.active {
    background-color: #4caf50;
    color: white;
}

.input-group .btn:hover {
    background-color: #218838;
}

/* Chart Container */
.chart-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h4 {
    color: #e0e0e0;
}

/* Button Group */
.btn-group .btn {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px; /* Optional: Add some margin to the top */
}

.btn-group .btn.active,
.btn-group .btn:hover {
    background-color: #4caf50; /* Green for active and hover effect */
}

/* Canvas Chart */
canvas {
    max-width: 100%;
    height: 400px;
    background-color: #1a1a1a;
}

/* Data Section */
.data-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Space between columns */
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
    width: calc(50% - 10px); /* Adjust this width to balance the columns with the gap */
}

.column div {
    display: flex;
    justify-content: space-between;
}

.column div span {
    color: #1cb429; /* Green text for labels */
    font-size: 14px; /* Adjust size if necessary */
}

.column div span:last-child {
    font-weight: bold;
    color: #fff;  /* White for values */
}


/* Key Metrics Section */
.key-metrics-section {
    margin-top: 20px;
}

.key-metrics-section .row {
    margin-bottom: 10px;
}

.key-metrics-section h4 {
    font-size: 1.1rem;
    color: #1cb429;
}

.key-metrics-section span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

/* Pillars Data */
.pillars-data {
    margin-top: 20px;
}

.pillars-data table {
    width: 100%;
    border-collapse: collapse;
}

.pillars-data th, .pillars-data td {
    border: 1px solid #ddd;
    padding: 8px;
}

.pillars-data th {
    background-color: #f2f2f2;
}

.pillars-data .pillar {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* Space between items */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pillars-data .pillar .metric {
    padding: 10px;
    align-self: center;
    box-sizing: border-box;
}

.pillars-data .pillar .metric-good {
    padding: 10px;
    align-self: center;
    width: 100%;
    background-color: rgba(0, 255, 0, 0.3);
    box-sizing: border-box;
}
.pillars-data .pillar .metric-bad {
    padding: 10px;
    align-self: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    box-sizing: border-box; 
}
.pillars-data .pillar .title {
    font-size: xx-small;
}
.pillars-data .pillar .value {
    font-size: large;
    align-self: center;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.pillars-data .metric span {
    display: block;
}

/* Analyst estimates table */
#analyst-estimates table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#analyst-estimates th, #analyst-estimates td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#analyst-estimates th {
    background-color: #343a40;
}

#analyst-estimates td {
    background-color: #2a2a2a;
}
/* Style for recommendation tables */
#recommendations-summary table, 
#recommendations table, 
#upgrades-downgrades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recommendations-summary th, 
#recommendations th, 
#upgrades-downgrades th, 
#recommendations-summary td, 
#recommendations td, 
#upgrades-downgrades td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#recommendations-summary th, 
#recommendations th, 
#upgrades-downgrades th {
    background-color: #343a40;
}

#recommendations-summary td, 
#recommendations td, 
#upgrades-downgrades td {
    background-color: #2a2a2a;
}
.price-targets {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* Space between items */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.news-item img {
    max-width: 140px;
    margin-right: 20px;
}

.news-item .news-content {
    flex: 1;
}

.news-item .news-content h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}

.news-item .news-content p {
    margin: 0;
    color: #555;
}

.news-item .news-content a {
    text-decoration: none;
    color: white;
}

.stock-card {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
}
.stock-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.stock-info {
    flex: 1;
}
.stock-info h2 {
    margin: 0;
    font-size: 24px;
}
.stock-info p {
    margin: 4px 0;
    color: #aaaaaa;
    font-size: 14px;
}
.stock-price {
    text-align: right;
}
.price {
    font-size: 32px;
    color: #ffffff;
}
.change {
    font-size: 18px;
}
.change.positive {
    color: #4caf50;
}
.change.negative {
    color: #ff4c4c;
}