/* General body style */
body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Navigation bar style */
.navbar {
    background-color: #343a40;
}

.dropdown-menu {
    background-color: #343a40;
    color: #fff;
}
.dropdown-item {
    color: #fff;
}
.navbar-brand {
    font-size: 1.5rem;
    color: #fff !important;
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .nav-link {
    color: #ddd !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

/* Metrics section */
.container {
    margin-top: 20px;
    color: #e0e0e0;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

/* Card styles */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
}

.metric-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745; /* Green color for positive-looking metrics */
}

/* Chart */
#price-chart {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Headings and labels */
h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1cb429;
}

/* Input field and button */
.input-group {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.input-group .form-control {
    border-radius: 8px 0 0 8px;
}

.input-group .btn {
    border-radius: 0 8px 8px 0;
    background-color: #1cb429;
    color: white;
}

.input-group .btn.active {
    background-color: #4caf50;
    color: white;
}

.input-group .btn:hover {
    background-color: #218838;
}

/* Chart Container */
.chart-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h4 {
    color: #e0e0e0;
}

/* Button Group */
.btn-group .btn {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px; /* Optional: Add some margin to the top */
}

.btn-group .btn.active,
.btn-group .btn:hover {
    background-color: #4caf50; /* Green for active and hover effect */
}

/* Canvas Chart */
canvas {
    max-width: 100%;
    height: 400px;
    background-color: #1a1a1a;
}

/* Data Section */
.data-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Space between columns */
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
    width: calc(50% - 10px); /* Adjust this width to balance the columns with the gap */
}

.column div {
    display: flex;
    justify-content: space-between;
}

.column div span {
    color: #1cb429; /* Green text for labels */
    font-size: 14px; /* Adjust size if necessary */
}

.column div span:last-child {
    font-weight: bold;
    color: #fff;  /* White for values */
}


/* Key Metrics Section */
.key-metrics-section {
    margin-top: 20px;
}

.key-metrics-section .row {
    margin-bottom: 10px;
}

.key-metrics-section h4 {
    font-size: 1.1rem;
    color: #1cb429;
}

.key-metrics-section span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

/* Pillars Data */
.pillars-data {
    margin-top: 20px;
}

.pillars-data table {
    width: 100%;
    border-collapse: collapse;
}

.pillars-data th, .pillars-data td {
    border: 1px solid #ddd;
    padding: 8px;
}

.pillars-data th {
    background-color: #f2f2f2;
}

.pillars-data .pillar {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* Space between items */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pillars-data .pillar .metric {
    padding: 10px;
    align-self: center;
    box-sizing: border-box;
}

.pillars-data .pillar .metric-good {
    padding: 10px;
    align-self: center;
    width: 100%;
    background-color: rgba(0, 255, 0, 0.3);
    box-sizing: border-box;
}
.pillars-data .pillar .metric-bad {
    padding: 10px;
    align-self: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    box-sizing: border-box; 
}
.pillars-data .pillar .title {
    font-size: xx-small;
}
.pillars-data .pillar .value {
    font-size: large;
    align-self: center;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.pillars-data .metric span {
    display: block;
}

/* Analyst estimates table */
#analyst-estimates table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#analyst-estimates th, #analyst-estimates td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#analyst-estimates th {
    background-color: #343a40;
}

#analyst-estimates td {
    background-color: #2a2a2a;
}
/* Style for recommendation tables */
#recommendations-summary table, 
#recommendations table, 
#upgrades-downgrades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recommendations-summary th, 
#recommendations th, 
#upgrades-downgrades th, 
#recommendations-summary td, 
#recommendations td, 
#upgrades-downgrades td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#recommendations-summary th, 
#recommendations th, 
#upgrades-downgrades th {
    background-color: #343a40;
}

#recommendations-summary td, 
#recommendations td, 
#upgrades-downgrades td {
    background-color: #2a2a2a;
}
.price-targets {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px; /* Space between items */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.news-item img {
    max-width: 140px;
    margin-right: 20px;
}

.news-item .news-content {
    flex: 1;
}

.news-item .news-content h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}

.news-item .news-content p {
    margin: 0;
    color: #555;
}

.news-item .news-content a {
    text-decoration: none;
    color: white;
}

.stock-card {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
}
.stock-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.stock-info {
    flex: 1;
}
.stock-info h2 {
    margin: 0;
    font-size: 24px;
}
.stock-info p {
    margin: 4px 0;
    color: #aaaaaa;
    font-size: 14px;
}
.stock-price {
    text-align: right;
}
.price {
    font-size: 32px;
    color: #ffffff;
}
.change {
    font-size: 18px;
}
.change.positive {
    color: #4caf50;
}
.change.negative {
    color: #ff4c4c;
}

/* Hide AI response sections initially */
.section {
    margin-bottom: 20px;
    display: none; /* Hide sections initially */
}
.section h2 {
    margin-bottom: 10px;
}
.section p {
    margin: 5px 0;
}
.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #007bff; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Center loading container horizontally */
.loading-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add some top margin if needed */
}
/* Checkbox container styles */
.checkbox-container {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.checkbox-container label {
    margin-right: 15px;
}

/* Styled dropdown */
.styled-dropdown {
    width: 30%;
    padding: 3px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

.portfolio-container {
    width: 100%;
    margin: 0 auto;
}

.portfolio-header, .portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: #1f1f2e;
    margin: 10px 0;
    border-radius: 8px;
}

.portfolio-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.portfolio-header .portfolio-row {
    background-color: #2a2a3c;
    border-bottom: 2px solid #3a3a4f;
}

.portfolio-header .portfolio-column, .portfolio-item .portfolio-column {
    flex: 1;
    text-align: center;
    font-size: 0.6rem;
}

.holding-column {
    flex: 2; /* Make this column wider to accommodate the logo and company name */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolio-name h2 {
    font-size: 0.6rem;
    color: #ffffff;
    margin: 0;
}

.portfolio-name p {
    font-size: 0.5rem;
    color: #888;
    margin: 0;
}

.positive {
    color: #4caf50; /* Green for positive growth */
}

.negative {
    color: #f44336; /* Red for negative growth */
}
.company-logo img {
    width: 20px;
    height: 20px;
    margin: 20px;
}
.upload-container {
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
    margin: 10px; /* Optional: Add some space below the container */
}

.upload_statement {
    background: transparent;
    border: none;
    color: #ffffff; /* Set the text color */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
    padding: 5px 10px; /* Optional: Add some padding */
    font-size: 1rem; /* Adjust font size if needed */
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.portfolio-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.portfolio-value h2 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.portfolio-value p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

.portfolio-value p:first-child {
    font-size: 0.5rem;
    font-weight: bold;
}

/* Event Table Styles */
.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-table th, .event-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.event-table th {
    background-color: #343a40;
}

.event-table td {
    background-color: #2a2a2a;
}

.plotlybars {
    padding: 0 10px;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }
  
  .plotlybars-wrapper {
    width: 165px;
    height: 100px;
    margin: 0 auto;
  }
  
  .plotlybars-text {
    color: #447adb;
    font-family: 'Open Sans', verdana, arial, sans-serif;
    font-size: 80%;
    text-align: center;
    margin-top: 5px;
  }
  
  .plotlybars-bar {
    background-color: #447adb;
    height: 100%;
    width: 13.3%;
    position: absolute;
  
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
  }
  
  .b1 { left: 0%; top: 88%; animation-name: b1; -webkit-animation-name: b1; }
  .b2 { left: 14.3%; top: 76%; animation-name: b2; -webkit-animation-name: b2; }
  .b3 { left: 28.6%; top: 16%; animation-name: b3; -webkit-animation-name: b3; }
  .b4 { left: 42.9%; top: 40%; animation-name: b4; -webkit-animation-name: b4; }
  .b5 { left: 57.2%; top: 26%; animation-name: b5; -webkit-animation-name: b5; }
  .b6 { left: 71.5%; top: 67%; animation-name: b6; -webkit-animation-name: b6; }
  .b7 { left: 85.8%; top: 89%; animation-name: b7; -webkit-animation-name: b7; }
  
  @keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }
  @-webkit-keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }
  
  @keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }
  @-webkit-keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }
  
  @keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }
  @-webkit-keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }
  
  @keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }
  @-webkit-keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }
  
  @keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }
  @-webkit-keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }
  
  @keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }
  @-webkit-keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }
  
  @keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }
  @-webkit-keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }
  
