<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.0/dist/chartjs-plugin-annotation.min.js"></script>

<div class="chart-container my-4">
    <div class="btn-group" role="group" aria-label="Time Range" id="timeRangeButtons">
        <button id="year" type="button" class="btn btn-secondary active">Yearly</button>
        <button id="quarter" type="button" class="btn btn-secondary">Quarterly</button>
        </div>
    <canvas id="financialChart"></canvas>
</div>