<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.0/dist/chartjs-plugin-annotation.min.js"></script>

<div class="chart-container my-4">
    <div class="btn-group" role="group" aria-label="Time Range" id="timeRangeButtons">
        <button id="1MBtn" type="button" class="btn btn-secondary">1M</button>
        <button id="1YBtn" type="button" class="btn btn-secondary">1Y</button>
        <button id="YTDBtn" type="button" class="btn btn-secondary">YTD</button>
        <button id="MAXBtn" type="button" class="btn btn-secondary">MAX</button>
        </div>
    <canvas id="portfolioChart"></canvas>
</div>